HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

**/src/main/resources/firebase/cobee-firebase.json
**/src/main/resources/static/index.html

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
### env 파일 추가 ###
.env
### application ###
resources/application.yml
resources/firebase/
**/src/test/resources/application.yml

### docker-compose.yml
docker-compose.yml

# MongoDB 데이터 디렉토리
mongodb/
redis_data/

# Docker 볼륨 데이터
**/data/
**/*.wt
**/*.lock
**/WiredTiger*
**/journal/
**/diagnostic.data/
